/* 
    Document   : projectcontrol
    Created on : Apr 25, 2013, 2:45:46 PM
    Author     : jossie
    Description:
        Purpose of the stylesheet follows.
*/


.projectSelectionBox{
border: 2px black solid;
height: auto;
float: left;
width: 900px;
margin:10px;
padding:0px 10px 10px 10px;
-moz-border-radius: 35px;
border-radius: 35px;
}

#projectBoxes{
list-style-type: none; 
margin: 0px 5px 5px 5px; 
padding: 5px; 
height: 110px;
width: 120px; 
background-image: linear-gradient(bottom, rgb(179,179,179) 39%, rgb(240,240,240) 100%);
background-image: -o-linear-gradient(bottom, rgb(179,179,179) 39%, rgb(240,240,240) 100%);
background-image: -moz-linear-gradient(bottom, rgb(179,179,179) 39%, rgb(240,240,240) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(179,179,179) 39%, rgb(240,240,240) 100%);
background-image: -ms-linear-gradient(bottom, rgb(179,179,179) 39%, rgb(240,240,240) 100%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.39, rgb(179,179,179)),
	color-stop(1, rgb(240,240,240))
);
-moz-border-radius: 10px;
border-radius: 10px;
float: left;
font-size: 12px; 
text-align: center;
position:relative;
font-size: 15px;
}

#projectBoxes:hover
{
background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(201,201,201) 57%);
background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(201,201,201) 57%);
background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(201,201,201) 57%);
background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(201,201,201) 57%);
background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(201,201,201) 57%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(255,255,255)),
	color-stop(0.57, rgb(201,201,201))
);
font-size: 17px;
font-weight: bold;
text-decoration: blink;
} 


#projectBoxes p{

}

#testCaseConfigureBox{
border: 1px grey dashed;
margin:5px;
padding:0px 5px 5px 10px;
-moz-border-radius: 15px;
border-radius: 15px;
}

#projectSuiteRunImg
{
    
}

#projectSuiteReportImg
{
padding: 0px;
margin: 0px;
position: relative;
right: 1px;
}

#projectSuiteRunButton
{
width: 75px;
height: 75px;
}

.projectConfigureBox{
    
}

.testDataEditLabel
{
    
}